@font-face {
  font-family: "IBM Plex Sans";
  src: url("IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.5rem;
  background-color: lightblue;
  /* background-image: url("Floral-Wallpaper-For-Desktop.jpg"); */

}

.sentence {
  max-width: 40rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: lightblue;
  margin: 0.5rem auto;
  overflow: hidden;
  clear: both;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  min-height: 1.5rem;
}

.gematria {
  color: navy;
}

.prime {
  font-weight: bold;
  color: darkred;
}

.is-prime {
  color: darkgreen;
}

.not-prime {
  font-weight: bold;
  color: navy;
}

.which-prime {
  font-weight: bold;
}

::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
}

.wrapper {
  margin: auto;
  max-width: 30rem;
}

.gematria-input {
  border: none;
  font: inherit;
  color: black;
  padding: 0.5rem;
  font-size: 1.25rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  background-color: lightblue;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  float: left;
  min-width: 24rem;
  outline: none;
}

.gematria-clear-button {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  color: white;
  display: inline-flex;
  background-color: lightblue;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0.5rem;
  float: left;
}

.gematria-clear-button:hover {
  cursor: pointer;
}

.gematria-output {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  background-color: lightblue;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem auto;
  /* border: 2px solid white; */
}

td {
  padding: 0.5rem;
  /* border-bottom: 1px solid white; */
  font-weight: bold;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: skyblue;
}

table {
  padding: 0.5rem;
  border-collapse: collapse;
  margin: auto;
}

.cipher-name {
  font-weight: normal;
  margin: 0.5rem 0;
  padding-bottom: 1rem;
}

.cipher-wrapper {
  background-color: skyblue;
  margin: 1rem auto;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 1rem;
}
