@import url(dark.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5rem;
  background-color: var(--color-canvas-default);
  color: var(--color-fg-default);
}

.sentence {
  max-width: 40rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: inherit;
  margin: 0.5rem auto;
  overflow: hidden;
  clear: both;
  min-height: 1.5rem;
  border: 2px solid var(--color-border-default);
}

.gematria {
  color: var(--color-prettylights-syntax-string);
}

.prime {
  color: var(--color-prettylights-syntax-keyword);
}

.is-prime {
  color: var(--color-prettylights-syntax-string);
}

.not-prime {
  color: var(--color-prettylights-syntax-string);
}

.which-prime {
  font-weight: bold;
}

::placeholder {
  color: var(--color-fg-subtle);
}

.wrapper {
  margin: auto;
  max-width: 30rem;
}

.gematria-input {
  border: 2px solid var(--color-border-default);
  background: transparent;
  color: inherit;
  font: inherit;
  padding: 0.5rem;
  font-size: 1.25rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 0.5rem;
  float: left;
  min-width: 24rem;
  outline: none;
}

.gematria-clear-button {
  display: inline-flex;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0.5rem;
  float: left;
  background: transparent;
  color: var(--color-fg-default);
  border: 2px solid var(--color-border-default);
}

.gematria-clear-button:hover {
  cursor: pointer;
}

.gematria-output {
  padding: 0.5rem;
  margin: 0.5rem auto;
  border-radius: 0.5rem;
  border: 2px solid var(--color-border-default);
}

td {
  padding: 0.5rem;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: var(--color-canvas-overlay);
}

table {
  padding: 0.5rem;
  border-collapse: collapse;
  margin: auto;
}

.cipher-name {
  font-weight: normal;
  margin: 0.5rem 0;
  padding-bottom: 1rem;
}

.cipher-wrapper {
  background-color: skyblue;
  margin: 1rem auto;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 1rem;
}
